<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JTL_Toolbox.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JTL_Toolbox.My.MySettings>
            <setting name="PathWawi" serializeAs="String">
                <value>C:\Program Files (x86)\JTL-Software</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>eazybusiness</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>sa04jT14</value>
            </setting>
            <setting name="kdtemplateid" serializeAs="String">
                <value>EXP1</value>
            </setting>
            <setting name="kdoutputfile" serializeAs="String">
                <value>kunden.csv</value>
            </setting>
            <setting name="outputpath" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>(local)\JTLWAWI</value>
            </setting>
            <setting name="kdinputfile" serializeAs="String">
                <value>ImportKunden.csv</value>
            </setting>
            <setting name="kditemplateid" serializeAs="String">
                <value>IMP1</value>
            </setting>
            <setting name="DebitorenStart" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DebitorenEnde" serializeAs="String">
                <value>70000</value>
            </setting>
        </JTL_Toolbox.My.MySettings>
    </userSettings>
</configuration>